<!-- بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ وبه نستعين -->

mailto:{{owner}}@amazon.ae?subject={{product["item_name"]}}%20Purchase%20Request&body=Dear%20{{users_db.loc[owner+"@amazon.ae",
"first_name"]}}%2C%0D%0A%0D%0AI%20would%20like%20to%20purchase%20%3Center%20quantity%3E%20of%20your%20listed%20item%20%22{{product["item_name"]}}%22.%0D%0A%0D%0AIs%20it%20still%20available%2C%20if%20so%2C%20do%20you%20have%20an%20ETA%20on%20when%20I%20can%20collect%20the%20item(s)%3F%0D%0A%0D%0ABest%20regards.