<!-- بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ وبه نستعين -->

<h2> {{products_db | length}} Product Results </h2>
<br>
{% for owner, product in products_db.iterrows(): %}
    <div class="product">
        <img class="prod_img img-fluid" src="{{ product['img'] }}" alt="Product {{ loop.index0 }}">
        <h3 style="padding: 2% 0%;"> {{product["item_name"]}}</h3>
        {% if owner != amazon_email[:-10]: %}
            <button onclick="window.location.href='{% include 'emailto.html' %}'" class="buy_button btn btn-success"> BUY </button>
        {% else: %}
            <form action="#" method="post">
                <button class="btn btn-dark edit_button" name="edited_item" value='{{product["item_name"]}}'> EDIT </button>
            </form>
        {% endif %}
        <p class="prod_text"> <span style="color: blue;"> Quantity: </span> <span> {{product["quantity"]}} </span> </p>
        <p class="prod_text"><span style="color: blue;"> Price/unit: </span> <span> ${{product["price/unit"]}} </span> </p>
        <p class="prod_text"><span style="color: blue;"> Description: </span> <span> {{product["item_desc"]}} </span> </p>
        <p class="prod_text"><span style="color: blue;"> Date posted: </span> <span>  {{product["date"]}} </span> </p>
        <p class="prod_text" style="margin-bottom: -9%;"><span style="color: blue;"> By: </span> <span>  {{owner}} </span> </p>
        {% if owner == amazon_email[:-10]: %}
            <form action="#" method="post">
                <button class="btn btn-danger delete_button" name="deleted_item" value="{{product['item_name']}}"> <span class="material-icons"> delete_forever
                </span>
                </button>
            </form>
        {% endif %}
    </div>
{% endfor %}