<!-- بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ وبه نستعين -->

{% extends 'header.html' %}

{% block content %}
    <title>My Products</title>
    </head>
    <body style="color: black; background-color: rgb(249, 247, 247)">
    <h1 style="margin-top: 63px;"> {{amazon_user}}'s Products </h1>
    <br>
    {% if posted_item: %}
        <h1><span class="badge bg-secondary"> Successfully posted "{{posted_item}}" <span class="material-icons" style="color: #0dcaf0;"> verified </span> </span></h1>
    {% endif %}
    {% if deleted_item: %}
        <h3 class="alert alert-danger"> Successfully deleted "{{deleted_item}}" <span class="material-icons"> backspace </span> </h3>
    {% endif %}
    <h2> No products posted <span class="material-icons" style="font-size: 30px; color: #fd7e14; "> cancel </span> </h2>
    {% include 'navbar.html' %}
    </body>
{% endblock %}
