
<body style="color: black">
<div id="myPopUp">
  <h2>Enter your product's details:</h2>
    <br>
  <form action="#" method="POST" enctype="multipart/form-data">
    <ul class="input_lis">
    <li> <input class="form-control" name="posted_item" type="text" placeholder="Product's name" required> </li>
    <li> <input class="form-control" name="item_desc" type="text" placeholder="Product's description" required> </li>
    <li>
        <label class="form-check-label" for="switchbox" style="font-size: 90%;"> Does the product belong to IT? </label>
        <div class="form-switch">
            <input class="form-check-input" id="switchbox" role="switch" name="is_IT" type="checkbox">
        </div>
    </li>
    <li> <input class="form-control" name="price_per_unit" type="number" placeholder="Price/unit" min="0" step="0.01" required> </li>
        <li> <select class="form-select" name="quantity" required>
                <option value=""> Select quantity available </option>
                {% for i in range(1, 300): %}
                    <option value="{{i}}"> {{i}} </option>
                {% endfor %}
        </select> </li>
    <li> <input class="form-control" type="file" name="img" required> </li>
    <li> <select class="form-select" disabled>
        <option value="image">Image</option>
        <option value="pdf">PDF</option>
        <option value="audio">Audio</option>
    </select> </li>
    </ul>
    <label for="publish" class="material-icons"> publish </label>
    <button class="btn btn-primary" type="submit" id="publish"> Post Product </button>
  </form>
</div>

<script>
    var link = document.getElementById("myLink");
    var buttons = document.querySelectorAll(".myButton");
    var popUp = document.getElementById("myPopUp");
    var close = document.getElementById("closePopUp");

    link.addEventListener("click", openPopUp);
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", openPopUp);
    }

    function openPopUp() {
      clearInputs();
      popUp.style.display = "block";
      document.addEventListener("click", closePopUp);
    }

    function clearInputs() {
      var inputs = document.querySelectorAll("#myPopUp input");
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].value = "";
      }
      var selects = document.querySelectorAll("#myPopUp select");
      for (var i = 0; i < selects.length; i++) {
        selects[i].selectedIndex = 0;
      }
    }

    function closePopUp(event) {
      if (event.target !== link && !isButton(event.target) && !popUp.contains(event.target)) {
        popUp.style.display = "none";
        document.removeEventListener("click", closePopUp);
        clearInputs();
      }
    }

    function isButton(target) {
      for (var i = 0; i < buttons.length; i++) {
        if (buttons[i] === target) {
          return true;
        }
      }
      return false;
    }
</script>
</body>
