
{% extends 'header.html' %}

{% block content %}
<title>Tester</title>
</head>
    <body style="color: black" >
    <div class="product-container">
      <div class="product-image">
        <img src="/static/images/printer.jpg" alt="product-image">
      </div>
      <div class="product-details">
        <h2 class="product-name">Product Name</h2>
        <p class="product-price">$99.99</p>
        <p class="product-description">Product Description goes asdjhgsajyfvajufvutghefvjtsery fkuygafktgvsekrugfersuf akyfgreyufgreugfukre weafilgawekryfgarwfgarwf
            kufcgvfaewyufgkyuwagewkf wiyfgwaeyifgiewagfiegwf welfiygwealiyfgiyewgflyiew weilyfgewifgiyewagfae fralughlarighrae awlfygrwalifgyrw waelfigewfgiweye</p>
      </div>
    </div>

    </body>
{% endblock %}
